.site_container {
    padding-top: 60px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-bottom: 20px;
}

@media (max-width: 767px) { /*when screen gets medium update margins*/
    .site_container {
        padding-top: 60px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 479px) { /*when screen gets small update margins*/
    .site_container {
        padding-top: 60px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

.spinner_center {
    position:fixed;
    left: 50%;
    top: 50%;
}

.badge {
    margin-left: 5px;
    margin-right: 5px;
}